div {
  margin-top: 20px;
}

h2 {
  text-align: center;
  color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
  background-color: #1e324b;
  color: #fff;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  list-style: none;
  color: white;
}

.pagination a {
  cursor: pointer;
  padding: 8px;
  margin: 0 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: white;
  text-decoration: none;
  background-color: #007bff;
}

.pagination a.active {
  color: white;
  font-weight: bold;
  border: 1px solid #1e324b;
}
