header {
  width: 100%;
  background-color: #1e324b;
  color: white;
  padding: 1rem;
}

.future-updates-dropdown {
  position: relative;
}

.future-updates-dropdown span {
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  color: black;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 12px;
  z-index: 1;
}

.dropdown-content p {
  margin: 0;
  padding: 8px 0;
}

.future-updates-dropdown:hover .dropdown-content {
  display: block;
  background-color: white;
}
